body {
    background-color: #595656; /* Fond gris clair */
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem; /* Taille du texte réduite */
    font-weight: bold;
    letter-spacing: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Title styling */
header a.home-link {
    text-decoration: none; /* Suppression du soulignement */
}

header h1 {
    z-index: 2;
    position: relative;
    font-size: 1.8rem; /* Réduction de la taille du titre */
    margin: 0;
    color: white; /* Titre en blanc */
}

/* F1 car animation */
.f1-car {
    position: absolute;
    height: 130px;
    right: -150px;
    top: 50px;
    animation: moveF1 5s linear infinite;
}

@keyframes moveF1 {
    from {
        right: -150px;
    }
    to {
        right: 100vw;
    }
}

/* Form styling */
form {
    background-color: #222;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 150px auto 50px; /* Ajout de marge pour laisser de l'espace sous le header */
    color: white;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

form button {
    background-color: #f04e30;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #d03d28;
}
